@import 'partials/variables';
@import 'partials/placeholders';
@import 'partials/mixins';

/*** CLEARFIX ****/
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}

/*******************/
.container {
	width: 940px;
	margin: 0 auto;
}
body {
	margin: 0;
}

/* HEADER */
.page-header {
	height: 400px;
	margin-bottom: 132px;
	border-bottom: $primary_border;
	background: transparent url(../img/header.jpg) no-repeat top center;
	background-size: cover;
}
.nav {
	@include position (0 auto, 297px 0 0 0);
	text-transform: capitalize;
	width: 706px;

	.logo {
		@include size (197px, 197px);
		text-indent: -10000px;
		display: inline-block;
		background-image: url(../img/boy.png);
		border: 7px solid white;
		border-radius: 50%;
		margin: 0 18px;
	}
	ul {
		display: inline-block;
		list-style-type: none;
		padding: 0px;
	}
}
.li {
	display: inline-block;

	font: {
		family: $primary_font;
		size: 24px;
		weight: bold;
	}
	&:nth-child(2) {
		margin: 0 0 0 52px;
	}
	.a {
		text-decoration: none;
		color: #bcbcbc;

		&:hover {
			color: $primary_color;
			border-bottom: 5px solid #afafaf;
			padding: 0 0 16px 0;
		}
	}
}
.first-ul {
	float: left;
	margin: 125px 0 0 0;
}
.second-ul {
	float: right;
	margin: 125px 0 0 0;
}
.category {
	position: relative;

	&:hover .dropdown-content {
		display: block;
	}
	.dropdown-content {
		@include size (224px, 370px);
		display: none;
		position: absolute;
		list-style-type: none;
		padding: 0;
		background-color: white;
		border-radius: 10px;
		box-shadow: -2px 0px 35px 6px #d8d8d8;
		top: 150%;
		left: -17%;
		z-index: 2;

		a {
			font: {
				weight: normal;
				size: 18px;
			}
			@include position (0 24px 0 11px, 28px 0 19px 13px);
			color: #bcbcbc;
			border-bottom: $primary_border;
			text-decoration: none;
			display: block;

			&:hover {
				color: $primary_color;
			}
		}
	}
}

/********ARTICLE************/
.article {
	border-bottom: $primary_border;
	padding: 0 0 37px 0;
}

/**************Article Header ********/
.article-header {
	text-transform: capitalize;
	margin: 0 0 15px 0;
}
.article-date {
	font: {
		family: $primary_font;
		size: 30px;
		weight: bold;
	}
	color: $primary_color;
	border: 7px solid #ebebeb;
	border-radius: 50%;
	display: inline-block;
	padding: 44px 23px 37px 23px;
}
.article-meta {
	width: 85%;
	vertical-align: top;
	margin: 32px 0 0 0;
	display: inline-block;

	h1 {
		@extend %headers;
		@include position (27px 0 0 0, 0 0 0 10px);
		font-size: 30px;
	}
}
.article-details {
	border-bottom: $primary_border;
	@include position (0 0 0 -5px, 0 0 0 14px);

	p {
		display: inline-block;

		a {
			&:hover {
				text-decoration: underline;
				color: $primary_color;
			}
		}
	}
	.categories {
		font: {
			size: 14px;
			family: $primary_font;
		}
		margin: 0 0 13px 0;
		display: inline-block;
		color: #c0c0c0;
		line-height: 25px;
		border-right: $primary_border;
	}
	.category-link {
		font: {
			size: 14px;
			family: $primary_font;
		}
		color: $primary_color;
		text-decoration: none;
	}
	.second-category {
		padding-right: 10px;
	}
	.comments-number {
		font: {
			size: 14px;
			family: $primary_font;
		}
		color: #c0c0c0;
		text-decoration: none;
	}
	.likes {
		@extend .comments-number;
		@include position (0 14px 0 0, 0 14px 0 0);
		line-height: 26px;
		border-right:$primary_border;
	}
}

/*******Article-content*********/
.article-content {
	width: 84%;
	margin: 0 0 0 150px;

	p {
		font: {
			family: $primary_font;
			size: $main_font_size;
		}
		color: #8e8e8e;
		line-height: 1.5;
		letter-spacing: .3px;
		margin: 0 0 30px 0;
	}
	figure {
		margin: 0 0 40px 0;
	}
}

/******Article-footer***********/
.tags {
	font: {
		family: $primary_font;
		size: $main_font_size;
	}
	margin: 0 0 0 150px;
	color: $primary_color;

	.tags-span {
		font: {
			size: 18px;
			weight: bold;
		}
		color: black;
		margin: 0 16px 0 0;
	}
	.tag-link {
		font-size: $main_font_size;
		color: $primary_color;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

/****COMMENTS-COUNTER***/
.comments-counter {
	@include position (0 0 43px 0, 32px 0 22px 0);
	border-bottom: $primary_border;

	h2 {
		@extend %headers;
		float: left;
		font-size: 24px;
	}
	.button {
		@extend %buttons;
		cursor:pointer;
		float: right;
		font-size: $main_font_size;
		padding: 17px 25px;
		text-decoration: none;
	}
}

/****FORM*****/
.comment-form {
	@include position (0 0 22px 0, 0 0 20px 0);
	border-bottom: $primary_border;
	text-transform: capitalize;

	h2 {
		@extend %headers;
		font-size: 24px;
		margin: 0px 0px 46px 0px;
	}
	form {
		width: 740px;
		margin: 0 auto;
	}
	label {
		font: {
			family: $primary_font;
			size: 12px;
			weight: bold;
		}
		color: #8e8e8e;
		display: inline-block;
		width: 160px;
		vertical-align: top;
		padding: 16px 0 0 0;
		cursor: pointer;
	}
	.form-input {
		font: {
			family: $primary_font;
			size: &main_font_size;
		}
		@include size (164px, 49px);
		background-color: #ebebeb;
		border-radius: 10px;
		border: none;
		padding: 0 18px;
		color: #888b8b;
		outline: none;
	}
	div {
		margin: 0 0 18px 0;

		&.comment-author-name {
			float: left;
		}
		&.comment-author-mail {
			float: left;
			margin-left: 4px;

			label {
				float: right;
				margin-left: 10px;
			}
		}
		&.comment-body {
			.comment-input {
				@include size (380px, 173px);
				padding: 12px;
				resize: none;
			}
			&:before {
				content: "";
				display: block;
				clear: both;
				visibility: hidden;
				line-height: 0;
				height: 0;
			}
		}
	}
	.article-btn {
		@extend %buttons;
		@include size (404px, 50px);
		outline: none;
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin: 0 0 0 164px;
	}
}

/****comments***/
.comments {
	.comment {
		margin: 0 0 30px 0;

		.profile-pic {
			@include size (115px, 115px);
			border-radius: 50%;
			background-color: #ebebeb;
			display: inline-block;
			vertical-align: middle;
			margin: 0 20px 0 0;
		}
		.author-name {
			font: {
				family: $primary_font;
				size: 24px;
				weight: bold;
			}
			color: $primary_color;
			text-decoration: none;
		}
		.author-comment {
			@include position (-24px 0 17px 134px, 15px);

			font: {
				family: $primary_font;
				size: $main_font_size;
			}
			color: #565656;
			max-width: 595px;
			background-color: #ebebeb;
			border-radius: 10px;
		}
		.reply {
			font: {
				family: $primary_font;
				size: $main_font_size;
			}
			color: $primary_color;
			text-decoration: none;
			margin: 0 0 0 150px;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	.load-more-comments {
		text-align: center;

		.button {
			@extend %buttons;
			display: inline-block;
			text-decoration: none;
			padding: 14px 26px;
		}
	}
}

/****FOOOTER****/
.page-footer {
	text-align: center;
	margin-top: 15px;

	.copy-rights {
		font: {
			family: $primary_font;
			size: 18px;
		}
		color: #aeaeae;
		margin: 56px 0 40px 0;

		a {
			color: $primary-color;
			text-decoration: none;

			&:hover {
				padding: 0 0 3px 0;
				text-decoration: underline;
			}
		}
	}
}
