/*** PLACEHOLDERS ****/
.comments-counter .button, .comment-form .article-btn, .comments .load-more-comments .button {
  background-color: #3eb3a5;
  font-family: font37857;
  color: white;
  border-radius: 10px;
  border: none;
  transition: opacity 1s; }
  .comments-counter .button:hover, .comment-form .article-btn:hover, .comments .load-more-comments .button:hover {
    opacity: .6; }

.article-meta h1, .comments-counter h2, .comment-form h2 {
  font-family: font37857;
  font-weight: bold;
  text-transform: capitalize;
  color: black; }

/*** CLEARFIX ****/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

/*******************/
.container {
  width: 940px;
  margin: 0 auto; }

body {
  margin: 0; }

/* HEADER */
.page-header {
  height: 400px;
  margin-bottom: 132px;
  border-bottom: 1px solid #e1e1e1;
  background: transparent url(../img/header.jpg) no-repeat top center;
  background-size: cover; }

.nav {
  margin: 0 auto;
  padding: 297px 0 0 0;
  text-transform: capitalize;
  width: 706px; }
  .nav .logo {
    width: 197px;
    height: 197px;
    text-indent: -10000px;
    display: inline-block;
    background-image: url(../img/boy.png);
    border: 7px solid white;
    border-radius: 50%;
    margin: 0 18px; }
  .nav ul {
    display: inline-block;
    list-style-type: none;
    padding: 0px; }

.li {
  display: inline-block;
  font-family: font37857;
  font-size: 24px;
  font-weight: bold; }
  .li:nth-child(2) {
    margin: 0 0 0 52px; }
  .li .a {
    text-decoration: none;
    color: #bcbcbc; }
    .li .a:hover {
      color: #3eb3a5;
      border-bottom: 5px solid #afafaf;
      padding: 0 0 16px 0; }

.first-ul {
  float: left;
  margin: 125px 0 0 0; }

.second-ul {
  float: right;
  margin: 125px 0 0 0; }

.category {
  position: relative; }
  .category:hover .dropdown-content {
    display: block; }
  .category .dropdown-content {
    width: 224px;
    height: 370px;
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: -2px 0px 35px 6px #d8d8d8;
    top: 150%;
    left: -17%;
    z-index: 2; }
    .category .dropdown-content a {
      font-weight: normal;
      font-size: 18px;
      margin: 0 24px 0 11px;
      padding: 28px 0 19px 13px;
      color: #bcbcbc;
      border-bottom: 1px solid #e1e1e1;
      text-decoration: none;
      display: block; }
      .category .dropdown-content a:hover {
        color: #3eb3a5; }

/********ARTICLE************/
.article {
  border-bottom: 1px solid #e1e1e1;
  padding: 0 0 37px 0; }

/**************Article Header ********/
.article-header {
  text-transform: capitalize;
  margin: 0 0 15px 0; }

.article-date {
  font-family: font37857;
  font-size: 30px;
  font-weight: bold;
  color: #3eb3a5;
  border: 7px solid #ebebeb;
  border-radius: 50%;
  display: inline-block;
  padding: 44px 23px 37px 23px; }

.article-meta {
  width: 85%;
  vertical-align: top;
  margin: 32px 0 0 0;
  display: inline-block; }
  .article-meta h1 {
    margin: 27px 0 0 0;
    padding: 0 0 0 10px;
    font-size: 30px; }

.article-details {
  border-bottom: 1px solid #e1e1e1;
  margin: 0 0 0 -5px;
  padding: 0 0 0 14px; }
  .article-details p {
    display: inline-block; }
    .article-details p a:hover {
      text-decoration: underline;
      color: #3eb3a5; }
  .article-details .categories {
    font-size: 14px;
    font-family: font37857;
    margin: 0 0 13px 0;
    display: inline-block;
    color: #c0c0c0;
    line-height: 25px;
    border-right: 1px solid #e1e1e1; }
  .article-details .category-link {
    font-size: 14px;
    font-family: font37857;
    color: #3eb3a5;
    text-decoration: none; }
  .article-details .second-category {
    padding-right: 10px; }
  .article-details .comments-number, .article-details .likes {
    font-size: 14px;
    font-family: font37857;
    color: #c0c0c0;
    text-decoration: none; }
  .article-details .likes {
    margin: 0 14px 0 0;
    padding: 0 14px 0 0;
    line-height: 26px;
    border-right: 1px solid #e1e1e1; }

/*******Article-content*********/
.article-content {
  width: 84%;
  margin: 0 0 0 150px; }
  .article-content p {
    font-family: font37857;
    font-size: 16px;
    color: #8e8e8e;
    line-height: 1.5;
    letter-spacing: .3px;
    margin: 0 0 30px 0; }
  .article-content figure {
    margin: 0 0 40px 0; }

/******Article-footer***********/
.tags {
  font-family: font37857;
  font-size: 16px;
  margin: 0 0 0 150px;
  color: #3eb3a5; }
  .tags .tags-span {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 0 16px 0 0; }
  .tags .tag-link {
    font-size: 16px;
    color: #3eb3a5;
    text-decoration: none; }
    .tags .tag-link:hover {
      text-decoration: underline; }

/****COMMENTS-COUNTER***/
.comments-counter {
  margin: 0 0 43px 0;
  padding: 32px 0 22px 0;
  border-bottom: 1px solid #e1e1e1; }
  .comments-counter h2 {
    float: left;
    font-size: 24px; }
  .comments-counter .button {
    float: right;
    font-size: 16px;
    padding: 17px 25px;
    text-decoration: none; }

/****FORM*****/
.comment-form {
  margin: 0 0 22px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #e1e1e1;
  text-transform: capitalize; }
  .comment-form h2 {
    font-size: 24px;
    margin: 0px 0px 46px 0px; }
  .comment-form form {
    width: 740px;
    margin: 0 auto; }
  .comment-form label {
    font-family: font37857;
    font-size: 12px;
    font-weight: bold;
    color: #8e8e8e;
    display: inline-block;
    width: 160px;
    vertical-align: top;
    padding: 16px 0 0 0;
    cursor: pointer; }
  .comment-form .form-input {
    font-family: font37857;
    font-size: .comment-form .form-input main_font_size;
    width: 164px;
    height: 49px;
    background-color: #ebebeb;
    border-radius: 10px;
    border: none;
    padding: 0 18px;
    color: #888b8b;
    outline: none; }
  .comment-form div {
    margin: 0 0 18px 0; }
    .comment-form div.comment-author-name {
      float: left; }
    .comment-form div.comment-author-mail {
      float: left;
      margin-left: 4px; }
      .comment-form div.comment-author-mail label {
        float: right;
        margin-left: 10px; }
    .comment-form div.comment-body .comment-input {
      width: 380px;
      height: 173px;
      padding: 12px;
      resize: none; }
    .comment-form div.comment-body:before {
      content: "";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0; }
  .comment-form .article-btn {
    width: 404px;
    height: 50px;
    outline: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 0 164px; }

/****comments***/
.comments .comment {
  margin: 0 0 30px 0; }
  .comments .comment .profile-pic {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background-color: #ebebeb;
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 0; }
  .comments .comment .author-name {
    font-family: font37857;
    font-size: 24px;
    font-weight: bold;
    color: #3eb3a5;
    text-decoration: none; }
  .comments .comment .author-comment {
    margin: -24px 0 17px 134px;
    padding: 15px;
    font-family: font37857;
    font-size: 16px;
    color: #565656;
    max-width: 595px;
    background-color: #ebebeb;
    border-radius: 10px; }
  .comments .comment .reply {
    font-family: font37857;
    font-size: 16px;
    color: #3eb3a5;
    text-decoration: none;
    margin: 0 0 0 150px; }
    .comments .comment .reply:hover {
      text-decoration: underline; }
.comments .load-more-comments {
  text-align: center; }
  .comments .load-more-comments .button {
    display: inline-block;
    text-decoration: none;
    padding: 14px 26px; }

/****FOOOTER****/
.page-footer {
  text-align: center;
  margin-top: 15px; }
  .page-footer .copy-rights {
    font-family: font37857;
    font-size: 18px;
    color: #aeaeae;
    margin: 56px 0 40px 0; }
    .page-footer .copy-rights a {
      color: #3eb3a5;
      text-decoration: none; }
      .page-footer .copy-rights a:hover {
        padding: 0 0 3px 0;
        text-decoration: underline; }

/*# sourceMappingURL=output.css.map */
