/* MIXINS */
@mixin size ($width, $height) {
	width: $width;
	height: $height;
}

@mixin position ($margin, $padding) {
	margin: $margin;
	padding: $padding;
}

@mixin headers {
	font: {
		family: $primary-font;
		weight: bold;
	}
	text-transform: capitalize;
	color: black;
}

@mixin buttons {
	background-color: #3eb3a5;
	font-family: $primary-font;
	color: white;
	border-radius: 10px;
	border: none;
	transition: opacity 1s;

	&:hover {
		opacity: .6;
	}
}

@mixin clearfix {
	.clearfix::after {
		content: "";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
	.clearfix {
		display: block;
	}
	html[xmlns] .clearfix {
		display: block;
	}
	* html .clearfix {
		height: 1%;
	}
}