$primary-color: #3eb3a5;
$primary-font: font37857;
$primary-border: 1px solid #e1e1e1;
$main-font-size: 16px;

/* MIXINS */
@mixin drop-down-list {
	display: none;
	position: absolute;
	list-style-type: none;
	width: 224px;
	height: 370px;
	padding: 0;
	background-color: white;
	border-radius: 10px;
	box-shadow: -2px 0px 35px 6px #d8d8d8;
	top: 150%;
	left: -17%;
	z-index: 2;
}
@mixin logo {
	text-indent: -10000px;
	display: inline-block;
	background-image: url(img/boy.png);
	width: 197px;
	height: 197px;
	border: 7px solid white;
	border-radius: 50%;
	margin: 0 18px;
}

/* HEADER */
header.page-header {
	height: 400px;
	margin-bottom: 132px;
	background: transparent url(img/header.jpg) no-repeat top center;
	background-size: cover;
	border-bottom: 1px solid #dfdfdf;

	.nav {
		text-transform: capitalize;
		width: 706px;
		margin: 0 auto;
		padding-top: 297px;

		.logo {
			@include logo
		}
		.ul {
			display: inline-block;
			list-style-type: none;
			padding: 0px;

			.li {
				display: inline-block;
				font-family: $primary-font;
				font-size: 24px;
				font-weight: bold;

				&:nth-child(2) {
					margin-left: 52px;
				}
				.a {
					text-decoration: none;
					color: #bcbcbc;

					&:hover {
						color: $primary-color;
						border-bottom: 5px solid #afafaf;
						padding-bottom: 16px;
					}
				}
			}
		}
		ul.first-ul {
			float: left;
			margin-top: 125px;
		}
		ul.second-ul {
			@extend .first-ul;
			float: right;

			.category {
				position: relative;

				.dropdown-content {
					@include drop-down-list;

					a {
						color: #bcbcbc;
						font-weight: normal;
						border-bottom: $primary-border;
						font-size: 18px;
						text-decoration: none;
						margin-left: 11px;
						margin-right: 24px;
						padding: 28px 0 19px 13px;
						display: block;

						&:hover {
							color: $primary-color;
						}
					}
				}
				&:hover .dropdown-content {
					display: block;
				}
			}
		}
	}
}