@import 'partials/mixins';
@import 'partials/config';

.container {
	width: 940px;
	margin: 0px auto;
}

/* HEADER */
.page-header {
	height: 400px;
	margin-bottom: 132px;
	background: transparent url(img/header.jpg) no-repeat top center;
	background-size: cover;
	border-bottom: $primary-border;

	.nav {
		text-transform: capitalize;
		width: 706px;
		margin: 0 auto;
		padding-top: 297px;

		.logo {
			@include logo
		}
		.ul {
			display: inline-block;
			list-style-type: none;
			padding: 0px;

			.li {
				display: inline-block;
				font-family: $primary-font;
				font-size: 24px;
				font-weight: bold;

				&:nth-child(2) {
					margin-left: 52px;
				}
				.a {
					text-decoration: none;
					color: #bcbcbc;

					&:hover {
						color: $primary-color;
						border-bottom: 5px solid #afafaf;
						padding-bottom: 16px;
					}
				}
			}
		}
		ul {
			&.first-ul {
				float: left;
				margin-top: 125px;
			}
			&.second-ul {
				float: right;
				margin-top: 125px;
			}
		}
		.category {
			position: relative;

			.dropdown-content {
				@include drop-down-list;

				a {
					color: #bcbcbc;
					font-weight: normal;
					border-bottom: $primary-border;
					font-size: 18px;
					text-decoration: none;
					margin-left: 11px;
					margin-right: 24px;
					padding: 28px 0 19px 13px;
					display: block;

					&:hover {
						color: $primary-color;
					}
				}
			}
			&:hover .dropdown-content {
				display: block;
			}
		}
	}
}

/********ARTICLE************/
.article {
	border-bottom: $primary-border;
	padding-bottom: 37px;

	/****Article Header ***/
	.article-header {
		text-transform: capitalize;

		.article-date {
			font-family: $primary-font;
			font-size: 30px;
			font-weight: bold;
			color: $primary-color;
			border: 7px solid #ebebeb;
			border-radius: 50%;
			display: inline-block;
			padding: 37px 23px;
			padding-top: 44px;
		}
		.article-meta {
			width: 85%;
			vertical-align: top;
			margin-top: 32px;
			display: inline-block;

			p {
				display: inline-block;

				a {
					&:hover {
						text-decoration: underline !important;
						color: $primary-color !important;
					}
				}
			}
			.article-details {
				border-bottom: $primary-border;
				padding-left: 14px;
				margin-left: -5px;

				.likes {
					color: #c0c0c0;
					font-size: 14px;
					font-family: $primary-font;
					text-decoration: none;
					display: inline-block;
					line-height: 26px;
					border-right: $primary-border;
					padding-right: 14px;
					margin: 0px;
					margin-right: 14px;
				}
				.comments-number {
					border: none;
					font-size: 14px;
					display: inline-block;
					color: #c0c0c0;
					font-family: font37857;
					text-decoration: none;
				}
				p.categories {
					margin: 0px;
					display: inline-block;
					margin-bottom: 13px;
					font-size: 14px;
					color: #c0c0c0;
					font-family: $primary-font;
					line-height: 25px;
					border-right: $primary-border;

					.category-link {
						font-family: $primary-font;
						font-size: 14px;
						color: $primary-color;
						text-decoration: none;
					}
					.second-category {
						padding-right: 10px;
					}
				}
			}
			h1 {
				@include headers;
				font-size: 30px;
				margin: 0px;
				margin-top: 27px;
				padding-left: 10px;
			}
		}
	}

	/*****Article-content*****/
	.article-content {
		width: 84%;
		margin-left: 150px;

		p {
			font-family: $primary-font;
			font-size: $main-font-size;
			color: #8e8e8e;
			line-height: 1.5;
			letter-spacing: .3px;
			margin-bottom: 30px;
		}
		figure {
			margin: 0px;
			margin-bottom: 40px
		}
	}

	/***** Article-footer****/
	.tags {
		margin-left: 150px;
		font-family: $primary-font;
		font-size: $main-font-size;
		color: $primary-color;

		.tags-span {
			font-size: 18px;
			font-weight: bold;
			color: black;
			margin-right: $main-font-size;
		}
		.tag-link {
			font-size: $main-font-size;
			color: $primary-color;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

/****COMMENTS-COUNTER***/
.comments-counter {
	@include clearfix;
	height: 65px;
	border-bottom: $primary-border;
	padding: 32px 0 22px 0;
	margin-bottom: 43px;

	h2 {
		@include headers;
		float: left;
		font-size: 24px;
	}
	.button {
		@include buttons;
		float: right;
		font-size: 16px;
		padding: 17px 25px;
		text-decoration: none;
	}
}

/****FORM*****/
.comment-form {
	border-bottom: $primary-border;
	margin-bottom: 22px;
	padding-bottom: 20px;
	text-transform: capitalize;

	h2 {
		@include headers;
		font-size: 24px;
		margin-top: 0px;
		margin-bottom: 46px;
	}
	form {
		width: 740px;
		margin: 0 auto;

		div {
			margin-bottom: 18px;

			label {
				font-family: $primary-font;
				font-size: 12px;
				font-weight: bold;
				color: #8e8e8e;
				display: inline-block;
				width: 160px;
				vertical-align: top;
				padding-top: 16px;
				cursor: pointer;
			}
			.form-input {
				background-color: #ebebeb;
				border-radius: 10px;
				border: none;
				padding: 0 18px;
				color: #888b8b;
				font-family: $primary-font;
				font-size: &main-font-size;
				outline: none;
				width: 164px;
				height: 49px;
			}
			.comment-input {
				width: 380px;
				height: 173px;
				padding: 12px;
				resize: none;
			}
		}
		.comment-body {
			&:before {
				content: "";
				display: block;
				clear: both;
				visibility: hidden;
				line-height: 0;
				height: 0;
			}
		}
		.comment-author-name {
			float: left;
		}
		.comment-author-mail {
			float: left;
			margin-left: 4px;

			label {
				float: right;
				margin-left: 10px;
			}
		}
	}
	.article-btn {
		@include buttons;
		width: 404px;
		outline: none;
		height: 50px;
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-left: 164px;
	}
}

/****comments***/
.comment {
	margin-bottom: 30px;

	.profile-pic {
		width: 115px;
		height: 115px;
		border-radius: 50%;
		background-color: #ebebeb;
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;
	}
	.author-name {
		text-decoration: none;
		font-family: $primary-font;
		font-size: 24px;
		color: $primary-color;
		font-weight: bold;
	}
	.author-comment {
		font-family: $primary-font;
		font-size: $main-font-size;
		color: #565656;
		max-width: 595px;
		padding: 15px;
		background-color: #ebebeb;
		border-radius: 10px;
		margin: -24px 0 17px 134px;
	}
	.reply {
		font-family: $primary-font;
		font-size: $main-font-size;
		color: $primary-color;
		text-decoration: none;
		margin-left: 150px;

		&:hover {
			text-decoration: underline;
		}
	}
}
.load-more-comments {
	text-align: center;

	.button {
		@include buttons;
		display: inline-block;
		text-decoration: none;
		padding: 14px 26px;
	}
}

/****FOOOTER****/
.page-footer {
	text-align: center;
	margin-top: 15px;

	.copy-rights {
		font-family: $primary-font;
		font-size: 18px;
		color: #aeaeae;
		margin: 56px 0 40px 0;

		a {
			color: #3eb3a5;
			text-decoration: none;

			&:hover {
				padding-bottom: 3px;
				text-decoration: underline;
			}
		}
	}
}