@import 'variables';
/*** PLACEHOLDERS ****/
%buttons {
	background-color: $primary-color;
	font-family: $primary-font;
	color: white;
	border-radius: 10px;
	border: none;
	transition: opacity 1s;

	&:hover {
		opacity: .6;
	}
}


%headers {
	font: {
		family: $primary-font;
		weight: bold;
	}
	text-transform: capitalize;
	color: black;
}
